{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}
{% load staticfiles %}


{# your modification here #}
Hola mundo

{% block after_field_sets %}{{ block.super }}



{% block head_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/admin/sci_input/datatype/tree.css' %}" />

{% endblock %}

{% block head_javascript %}
<script type="text/javascript" src="{% static 'js/jquery/jquery.min.js' %}"></script>
<script type="text/javascript"  src="https://d3js.org/d3.v4.js"></script>
{% endblock %}

<div id="walnut_graph">
</div>


{% block js_footer%}
<script type="text/javascript" src="{% static 'js/admin/sci_input/datatype/tree.js' %}"></script>
{% endblock js_footer%}

<script  type="text/javascript">

 console.log("Basic tree")


	$(document).ready(function() {
	$("#check_csk").click(function(event){
		event.preventDefault();
		//extract value from id_csk
		var csk=$("#id_csk").val();
		//print action
		console.log("Checking CSK String");	
		
		//print value id_csk	
		console.log(csk);
		check_csk()
		});
	});
	
	//
	
	// AJAX for posting
	function check_csk() {
		console.log("Checking CSK on the server!") // sanity check
		$.ajax({
			url : '{% url "check_csk"%}', // the endpoint
			type : "POST", // http method
			data : { csk : $('#id_csk').val(),
					'csrfmiddlewaretoken': '{{ csrf_token }}', }, // data sent with the post request

			// handle a successful response
			success : function(json) {
				//$('#post-text').val(''); // remove the value from the input
				console.log(json['graph']); // log the returned json to the console
				console.log("success"); // another sanity check
				//clear_graph()
        console.log(json)
				create_graph(json['graph'], json['size'])
			},

			// handle a non-successful response
			error : function(xhr,errmsg,err) {
				$('#results').html("<div class='alert-box alert radius' data-alert>Oops! We have encountered an error: "+errmsg+
					" <a href='#' class='close'>&times;</a></div>"); // add the error to the dom
				console.log(xhr.status + ": " + xhr.responseText); // provide a bit more info about the error to the console
			}
		});
	};

	console.log("Call renderer");
	
function create_graph(graph, size){

   new_size={'height':60*size['height'],'width':160*size['width']}
   console.log("New size")
   console.log(new_size)

   console.log("Drawing graph")
   console.log(graph)
   root = d3.hierarchy(graph, function(d) { return d.children; });
   root.x0 = height / 2;
   root.y0 = 0;
   root.children.forEach(collapse);

   console.log(root)

   resize(new_size)
   update(root)
}
	
</script>

{% endblock %}
{% block submit_buttons_bottom %}
    <div class="submit-row">
      <input class="btn btn-check_csk" id="check_csk" type="button" value="{% trans 'Check CSK' %}" name="_checkCSK" />
    </div>{{ block.super }}
{% endblock %}
